<section class="articles">
  <h2 class="articles__h2">3 Reasons To Purchase</h2>
  <include src="./articletemplate.html" title="Ut sed metus" text="Lorem ipsum dolor sit amet, consecteur."></include>
  <include src="./articletemplate.html" title="Curabitur ac erat" text="Mauris mattis urna quis lorem molestie."></include>
  <include src="./articletemplate.html" title="Morbi dictum" text="Aliquam in dolor et dolor tincidunt."></include>
  <div class="articles__button">More reasons</div>
</section>