<footer class="footer">
  <div class="footer__div">
    <a href="./index.html#header"><img src="./assets/images/ico-arrow.svg" alt="Flecha"/></a>
  </div>
  <nav class="footer__navR">
    <ul>
      <li><a class="footer__link" href="https://adalab.es/" target="_blank">Articles</a></li>
      <li><a class="footer__link" href="https://adalab.es/" target="_blank">Books</a></li>
      <li><a class="footer__link" href="https://adalab.es/" target="_blank">Events</a></li>
      <li><a class="footer__link" href="https://adalab.es/" target="_blank">Reasons</a></li>
      <li><a class="footer__link" href="https://adalab.es/" target="_blank">Tips</a></li>
    </ul> 
  </nav>
  <nav class="footer__navL"> 
    <ul class="footer__ul">
      <li><a class="footer__link" href="https://adalab.es/" target="_blank">Twitter</a></li>
      <li><a class="footer__link" href="https://adalab.es/" target="_blank">Instagram</a></li>
      <li><a class="footer__link" href="https://adalab.es/" target="_blank">Mastodon.social</a> </li> 
    </ul>  
  </nav>      
  <div class="footer__copy">
    <h4>&copy2022</h4>
    <p class>we <span class="footer__copy--span">❤︎</span> components</p>
  </div>
</footer>