/* fonts*/
$font-title: 'Roboto Slab', serif;
$font-paragraph: 'Roboto', sans-serif;

/* colors*/
$color-button:#f26002;
$color-section:#ffffff;
$color-articles:#eff9ff;
$color-footer:#304268;
$color-header:#0271bc;
$color-letters1:white;
$color-letters2:black;
$color-letters3:#4a4a4a;
$color-letters4:#8ccbea;


